.blue {
    color: white;
    border-bottom: 5px solid blue;
}

.blueBack {
    background-color: skyblue;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testSpanError {
    color: blue;
}